input[type='date'] {
	background-color: white;
}

::-webkit-datetime-edit-text {
	padding: 0 0.3em;
}

::-webkit-calendar-picker-indicator {
	width: 2.5rem;
	height: 2.5rem;
}
.customShadowLarge-Right {
	box-shadow:
		1.6px 1.6px 1.2px rgba(0, 0, 0, 0.029),
		3.4px 3.4px 2.7px rgba(0, 0, 0, 0.043),
		5.8px 5.8px 4.6px rgba(0, 0, 0, 0.054),
		8.7px 8.7px 6.9px rgba(0, 0, 0, 0.062),
		12.5px 12.5px 10px rgba(0, 0, 0, 0.07),
		17.7px 17.7px 14.2px rgba(0, 0, 0, 0.078),
		25.1px 25.1px 20.1px rgba(0, 0, 0, 0.086);
}
.customShadowLarge-Left {
	box-shadow:
		-1.6px 0px 1.2px rgba(0, 0, 0, 0.029),
		-3.4px 0px 2.7px rgba(0, 0, 0, 0.043),
		-5.8px 0px 4.6px rgba(0, 0, 0, 0.054),
		-8.7px 0px 6.9px rgba(0, 0, 0, 0.062),
		-12.5px 0px 10px rgba(0, 0, 0, 0.07),
		-17.7px 0px 14.2px rgba(0, 0, 0, 0.078),
		-25.1px 0px 20.1px rgba(0, 0, 0, 0.086);
}
/* Spinner Loader CSS start */
/* HTML: <div class="loader"></div> */
.loader {
	width: 23px;
	height: 23px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 5px solid rgb(51, 231, 35);
	border-right-color: rgb(0, 135, 224);
	animation: l2 1s infinite linear;
}
@keyframes l2 {
	to {
		transform: rotate(1turn);
	}
}
/* Spinner Loader CSS end */
